<table class="table table-striped table-bordered table-hover datatable">
<thead><tr><th>Status Code</th><th>Hits</th><th>%</th></tr></thead>
<tbody>
{{#each this}}
	<tr><td><div style="background-color: {{color}}" class="color-bullet img-circle"></div>{{statusCode}}</td><td>{{count}}</td><td>{{percent}}</td></tr>
{{/each}}
</tbody>
</table>